.debug {
  display: none;
  color: #130559;
  text-align: center;
}


/* Styles pour ETML et CFPV */
:root {
  --room-padding-top: 0;
  --MinSizeWidth: 260px;
  --MaxSizeWidth: 340px;
  --tpi-card-textColor: var(--site-textColor);
}

/* Styles généraux pour les sites ETML et CFPV */
.site_etml,
.site_cfpv {
  /* DateRoom */
  --dateRoom-textColor: #ffffff;
 

  --breakLine-TextColor: #333;
  --breakLine-bgColor: #e7e2d8;
  /* Gris clair */

  --deleteButton-textColor: #252525;
  --deleteButton-bgColor: #66bb6a;
  /* Vert par défaut */

  /* TPI Styles */
  --tpi-timeSlot-textColor: #252525;
  /* Noir */
  --tpi-timeSlot-bgColor: #ffffff;
  /* Blanc */
  transition: background-color 0.3s ease-in-out;
}



/* Styles spécifiques pour le site ETML - En ville (Dégradé 3 - Couleurs naturelles) */
.site_etml {
  --site-textColor: #333;
  /* Texte noir pour une lisibilité maximale */
  --tpi-card-candidat-bgColor: #6600e300;
  /* Beige (évoque la nature) */
  --tpi-card-experts-bgColor: #6600e360;
  /* Brun (évoque la terre) */
  --tpi-card-boss-bgColor: #e5d8f6;
  --dateRoom-bgColor: #6700E3;

}

/* Styles spécifiques pour le site CFPV - Campagne près de l'eau */
.site_cfpv {
  --site-textColor: #333;
  /* Texte plus sombre pour la visibilité */
  --tpi-card-candidat-bgColor: #de209200;
  /* Vert clair (évoque la verdure) */
  --tpi-card-experts-bgColor: #d4248d85;
  /* Bleu clair (évoque l'eau) */
  --tpi-card-boss-bgColor: #fcdff1;
  /* Brun clair (évoque la terre) */
  --dateRoom-bgColor: #de2092;

}

/* Styles généraux pour la date room */
#root {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#rooms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Activer la barre de défilement horizontale en tout temps */
  overflow-x: scroll;
  /* Permettre aux éléments enfants de la div de se répartir sur une seule ligne */
  white-space: nowrap;
  /* Ajuster la largeur pour s'adapter à l'espace disponible */
  width: 98%;

  margin: auto;
}


.room {
  padding-top: calc(var(--room-padding-top) + 25px);
  flex: 1 0 205px;
  transition: flex-basis 0.3s ease;
  line-height: 1em;
  margin-left: 15px;
}

/* Styles pour la classe .date-room */
.date-room {
  text-align: center;
  background-color: var(--dateRoom-bgColor);
  color: var(--dateRoom-textColor);
  border: 3px solid var(--dateRoom-bgColor);
  transition: border-color 0.3s ease;
  /* Ajoute une transition pour une animation fluide */
}

/* Styles pour le survol de .date-room */
.date-room:hover {
  filter: brightness(105%); /* Augmente la luminosité de l'élément survolé de 5% */
}

.date {
  font-size: larger;
  font-weight: bold;
  line-height: 2;
  color: var(--dateRoom-textColor);
}

.nameRoom {
  font-size: larger;
  line-height: 1.8;
  color: var(--dateRoom-textColor);
}

/* Styles pour la ligne de séparation */
.breakLine {
  color: var(--breakLine-TextColor);
  border-top: 2px solid var(--breakLine-TextColor);
  border-bottom: 2px solid var(--breakLine-TextColor);
  background-color: var(--breakLine-bgColor);
  height: 20px;
}

.breakLine p {
  margin: 1%;
}

/* Styles pour le bouton de suppression */
.delete-button {
  color: var(--deleteButton-textColor);
  background-color: var(--deleteButton-bgColor);
}

/* Styles généraux pour le TPISlot */
.tpiSlot {
  color: var(--tpi-timeSlot-textColor);
  background-color: var(--tpi-timeSlot-bgColor);
  display: grid;
  grid-template-columns: 65px auto;
  margin: 0 auto;
  padding: 1px;
  animation: slide-in 0.5s ease-in-out;
}

.timeSlot {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid var(--tpi-timeSlot-textColor);
  height: auto;
  justify-content: space-between;
}

.top {
  margin-top: 20%;
  margin-bottom: 80%; 
}

/* Styles pour les champs éditables */
.edit {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  /* Bordure autour du champ éditable */
  border-radius: 4px;
  font-size: 16px;
}

/* Styles pour l'icône d'édition */
.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #2196f3;
  /* Couleur de l'icône d'édition (bleu) */
}

/* Styles pour la carte TpiCard */
.tpiCard {
  color: white;
  text-align: left;
  font-size: 16px;
  font-family: Arial, sans-serif;
  width: auto;
  display: grid;
  gap: 2px;
  padding: 4px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles pour le fond du candidat */
.tpiCard .candidat {
  color: var(--site-textColor);
  text-align: center;
  font-weight: bolder;
  background-color: var(--tpi-card-candidat-bgColor);
  border-bottom: 2px solid var(--tpi-card-textColor);
  padding: 5px;
}

.candidat .star-icon {
  margin-right: 6px;
  font-size: 15px;
}

/* Styles pour le fond des experts */
.tpiCard .expert {
  color: var(--site-textColor);
  position: relative;
  background-color: var(--tpi-card-experts-bgColor);
  padding: 5px;
}

/* Styles pour le fond du chef de projet */
.tpiCard .boss {
  color: var(--site-textColor);
  position: relative;
  background-color: var(--tpi-card-boss-bgColor);
  border-top: 2px solid var(--tpi-card-textColor);
  padding: 5px;
}

.boss .boss-icon {
  margin-right: 6px;
  font-size: 15px;
}

/* Styles pour le bouton de suppression dans le mode édition */
.buttonDelete {
  padding: 6px 10px;
  text-align: right;
}

.buttonDelete button {
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  font-size: medium;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonDelete button:hover {
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonDelete:hover::after {
  content: 'Attention: Tout sera supprimé !';
  position: relative;
  display: block;
  text-align: center;
  top: -80px;
  left: 200px;
  width: 200px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.buttonDelete:not(:hover)::after {
  opacity: 0;
}

/*******************************
*  design pour le mode edition *
********************************/

/* Styles pour le mode édition */
.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.edit:focus {
  background-color: #fff;
  border-color: #2196f3;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.3);
  outline: none;
  transform: scale(1.1);
}

/* Style when an element is being dragged */
.dragging {
  opacity: 0.5;
  border: 3px dashed #eb3c3c;
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease, border 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

/* Style when an element is being dragged over */
.dragOver {
  background-color: #f0f0f0;
  border: 5px solid #77eb88;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}

/* bouton edit dans candidat */
.editCandidat {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btTpiListSite {
  width: 10px;
  position: relative;
  top: -30px;
  left: 92%;
  color: #333;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  margin-bottom: -15px;
}

.btTpiListSite:hover {
  background-color: #e0e0e0;
  color: #222;
}

.btTpiListSite:active {
  transform: scale(0.95);
}

/* CSS pour l'effet de clignotement */
@keyframes blink {
  0% {
    border-color: transparent; /* Au départ, la bordure est transparente */
  }
  50% {
    border-color: var(--tpi-card-boss-bgColor); /* À mi-chemin, la bordure a la couleur spécifiée */
  }
  100% {
    border-color: transparent; /* À la fin, la bordure redevient transparente */
  }
}

#green-true {
  padding: 3px;
  border: 4px solid var(--tpi-card-boss-bgColor); /* Bordure initialement transparente */
}

.icon-proposal {
  position: absolute;
  right: 0.5%;
  /* Placez l'icône à l'extrémité droite du parent */
  top: 25%
    /* Placez l'icône à l'extrémité supérieure du parent si nécessaire */
}

/* Classe pour les popups personnalisés */
.custom-popup:not([data-popup-text=""])::after {
  width: 20ch;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.6;
  content: attr(data-popup-text); /* Affiche le contenu de l'attribut "data-popup-text" */
  padding: 10px 15px; /* Espacement autour du texte */
  background-color: #333; /* Fond de couleur foncée */
  color: #fff; /* Texte en blanc pour une meilleure lisibilité */
  border-radius: 6px; /* Coins arrondis */
  position: absolute; /* Position absolue pour l'afficher au-dessus de l'élément */
  right: -25ch;
  top: -2em;

  z-index: 1; /* Couche supérieure pour s'assurer qu'il soit visible */
  opacity: 0; /* Initialement transparent */
  transition: opacity 0.3s ease-in-out; /* Transition en douceur de l'opacité */
  pointer-events: none; /* Évite les interactions avec le popup */
  font-size: 1.2rem; /* Taille de police */
}

.custom-popup:hover::after {
  opacity: 1; /* Affiche le popup au survol */
}
