/* Styles pour la page d'accueil */
.home {
    margin-top: 50px;
}

.home h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.home p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Styles pour la page de connexion */
.login {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login h2 {
    font-size: x-large;
    margin-bottom: 20px;
}

.login input {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0056b3;
}

/* Styles pour les messages d'erreur */
.login .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Centrer le contenu */
.login .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour la page de planification des soutenances */
.schedule {
    text-align: center;
    margin-top: 50px;
}

.schedule h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour la page d'inscription */
.register {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.register h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-selection {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-selection li {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}

.form-selection li:hover {
    background-color: #f0f0f0;
}

/* Styles pour les formulaires d'inscription individuels */
.student-registration,
.projectManager-registration,
.dean-registration,
.expert-registration {
    display: none;

}

.student-registration.active,
.projectManager-registration.active,
.dean-registration.active,
.expert-registration.active {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    border: thick double #0056b3;
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.student-registration h3,
.projectManager-registration h3,
.dean-registration h3,
.expert-registration h3 {
    font-size: medium;
}

/* Utiliser flexbox pour les champs d'inscription */
.student-registration div,
.projectManager-registration div,
.dean-registration div,
.expert-registration div {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

/* Utiliser media queries pour les écrans plus petits */
@media screen and (max-width: 600px) {

    .student-registration div,
    .projectManager-registrationn div,
    .dean-registration div,
    .expert-registration div {
        flex-direction: column;
    }
}

/* Styles pour les inputs */
.student-registration input,
.projectManager-registration input,
.dean-registration input,
.expert-registration input {
    flex: 1;
    height: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Styles pour le bouton */
.student-registration button,
.projectManager-registration button,
.dean-registration button,
.expert-registration button {
    background-color: #007bff;
    color: #fff;
    font-size: larger;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 100%;
}

/* Styles pour la ligne suivante (bouton) */
.student-registration .button-container,
.projectManager-registration .button-container,
.dean-registration .button-container,
.expert-registration .button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Styles pour les espaces entre les champs d'inscription et le bouton */
.student-registration .button-container button,
.projectManager-registration .button-container button,
.dean-registration .button-container button,
.expert-registration .button-container button {
    margin-top: 10px;
}

.student-registration button:hover,
.projectManager-registration button:hover,
.dean-registration button:hover,
.expert-registration button:hover {
    background-color: #0056b3;
}

/* Styles pour la page d'inscription aux projets en cours */
.subscriber {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscriber.etudiant {
    background-color: #f9f9f9;
    border: 1px solid #007bff;
}

.subscriber.boss {
    background-color: #f0f0f0;
    border: 1px solid #17a2b8;
}

.subscriber.expert {
    background-color: #e6e6e6;
    border: 1px solid #28a745;
}

.tpiTracker h2 {
    font-size: medium;
    margin-bottom: 20px;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.project-item:last-child {
    border-bottom: none;
}

.project-name {
    font-size: 18px;
    font-weight: bold;
}

.project-description {
    font-size: 14px;
    color: #777;
}

.register-options {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.register-label {
    font-size: 16px;
    margin-right: 10px;
}

.register-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Style pour les boutons suivi-estudiants */
.userActions {
    display: flex;
    justify-content: center;

}

.tpiTracker button {
    background-color: #007bff;
    color: #fff;
    font-size: medium;
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.tpiTracker button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.tpiTracker .button i {
    margin-right: 5px;
}