/* À prendre en considération : anticiper tous les scénarios, y compris les appareils mobiles */

/* Variables CSS personnalisées pour ETML et CFPV */
:root {
  /* Couleurs */
  --bg-color-etml: #d0f0c0;
  --border-color-etml: #98bf64;
  --accent-color-etml: #0056b3;
  --bg-color-cfpv: #fffacd;
  --border-color-cfpv: #f4a460;
  --accent-color-cfpv: #228b22;
  --text-color: #333;
  --buttonNotValidation: #344;
  --buttonValidation: #849;
  --bg-buttons-action: #fff;

  /* Espacement et Dimensionnement */
  --grid-gap: 1vw;
  --font-family: Arial, sans-serif;
  --font-size: 1rem;
  --heading-font-size: 2.5vw;
  --paragraph-margin: 1.5vh;
  --box-padding: 1vw;
  --element-margin: 1vw;
  --element-padding: 0.5vw;
  --button-size: 2vw;
  --button-border: 0.1vw solid #ccc;
  --button-border-radius: 0.5vw;
  --button-transition: all 0.3s ease;

  /* Autres */
  --height-tpi: 19.5vh;
  --width-tpi: 16vw;
  --dataGrid-column-width: 5vw;
  --horairesBox-row-height: 30vh;
  --width-room: 29vw;
  --height-header: 6vw;
  --slotsTime: 8;
}

/* Média query pour les écrans Basse Densité (max-width: 600px) */
@media screen and (max-width: 1080px) {
  :root {
    /* Espacement et Dimensionnement ajustés pour les écrans basse densité */
    --grid-gap: 1vw;
    --font-family: Arial, sans-serif;
    --font-size: 0.8rem;
    --heading-font-size: 1em;
    --paragraph-margin: 1.1vh;
    --box-padding: 1.1vw;
    --element-margin: 2vw;
    --element-padding: 0.8vw;
    --button-size: 2vw;
    --button-border: 0.1vw solid #ccc;
    --button-border-radius: 0.8vw;
    --button-transition: all 0.4s ease;

    /* Autres ajustements */
    --height-tpi: 22vh;
    --width-tpi: 22vw;
    --dataGrid-column-width: 7vw;
    --horairesBox-row-height: 40vh;
    --width-room: 30vw;
    --height-header: 8vw;
  }
}

/* Styles de base pour les éléments HTML */
h1,
h3,
h4 {
  text-align: center;
  font-size: 1.5rem;
  margin: var(--element-margin) 0;
}

h1 {
  margin-bottom: var(--element-margin);
}

p {
  margin: 0;
  padding: 0;
}

.title{
  display: flex;
  position: relative;
  top: 0.2vh;
  left: 2vw;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 3vh;
}

/* Styles spécifiques des classes et sélecteurs */
#soutenances {
  font-family: var(--font-family);
  gap: var(--grid-gap);
}

.dataGrid {
  display: grid;
  grid-template-columns: var(--dataGrid-column-width) auto;
}

.horairesBox {
  display: grid;
  gap: var(--grid-gap);
  margin-top: calc(var(--height-header) + var(--element-padding) + var(--element-margin));
  font-size: 1.4rem;
}

[class^="horaire_"] {
  /* margin-top: var(--height-header); */
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
}

.startTime,
.endTime {
  margin-right: var(--element-margin);
}

.startTime {
  margin-top: 0;
}

.endTime {
  margin-bottom: var(--element-margin);
}

.salles-container {
  grid-column: 2;
  display: inline-flex;
  gap: var(--grid-gap);
}

[class^="salle "] {
  width: var(--width-room);
  border: 3px solid black;
  display: grid;
  grid-template-rows: var(--height-header) repeat(var(--slotsTime), var(--height-tpi));
  padding-bottom: var(--element-padding);
}

.ETML,
.CFPV {
  background-color: var(--bg-color-etml);
}

.CFPV {
  background-color: var(--bg-color-cfpv);
}

[class^="header_"] {
  height: var(--height-header);
  background-color: var(--text-color);
  color: white;
  width: 100%;
  margin: 0 auto;
}

.truncated-text {
  display: inline;
}


.tpi-data {
  margin: auto;
  /* margin: var(--element-margin) auto; */
  width: 95%;
  height: 96%;
  border-radius: 3%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  vertical-align: middle;

}

.tpi-data .tpi-entry:first-child {
  margin-top: 1vh;
}

.tpi-data .tpi-entry:last-child {
  margin-bottom: 0.4vh;
}

.ETML .tpi-data:hover,
.CFPV .tpi-data:hover {
  border: 0.1vw solid var(--accent-color-etml);
  border-radius: var(--paragraph-margin);
}

.CFPV .tpi-data:hover {
  border: 0.1vw solid var(--accent-color-cfpv);
  border-radius: var(--paragraph-margin);
}

.tpi-container {
  margin-left: var(--element-margin);
  vertical-align: middle;
}

.tpi-entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  vertical-align: middle;
  padding: 0.5vh 0;
  margin-top: 0, 3vh;
}

.tpi-expert1,
.tpi-expert2,
.tpi-boss {
  grid-column: span 2;
  /* Occuper 2 colonnes */
}

.tpi-entry.no-buttons {
  display: block;
  text-align: center;
  border-bottom: 1px solid black;
  width: calc(90% - var(--element-margin));
  /* Soustraire la marge gauche */
  font-weight: bolder;
  margin-left: var(--element-margin);
  line-height: 1.3;
}

/* Styles pour les boutons d'actions */
.action-buttons {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  /* Justification à droite */
  margin-right: 0.8vw;
  gap: 0.6vw;
  /* Espacement entre les boutons */
}

.action-buttons button {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 25px;
  background-color: #fff;
  padding: 3px 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Styles pour les boutons validés */
.button-true {
  color: #4caf50;
  /* Texte vert pour bouton validé */
  font-weight: bold;
}

/* Styles pour les boutons non validés */
.button-false {
  color: #f44336;
  /* Texte rouge pour bouton non validé */
  font-weight: bold;
}

/* Styles pour les boutons de proposition avec des valeurs */
.button-has-values {
  color: #007bff;
  /* Texte bleu pour bouton avec valeurs */
}

/* Styles pour les boutons de proposition vides */
.button-empty {
  color: #888;
  /* Texte gris pour bouton vide */
}

/* Styles pour les boutons d'acceptation OK */
.button-accept-ok {
  color: #4caf50;
  /* Texte vert pour bouton OK */
}

/* Styles pour les boutons d'acceptation X */
.button-accept-x {
  color: #f44336;
  /* Texte rouge pour bouton X */
}

/* Styles pour les boutons de proposition avec valeurs '-' */
.button-proposition-values {
  color: #007bff;
  /* Texte bleu pour bouton proposition avec valeurs */
}

/* Styles pour les boutons de proposition avec valeurs '?' */
.button-proposition-emoji {
  font-size: 20px;
  /* Taille de police pour l'emoji */
}

.action-buttons button:hover {
  opacity: 0.8;
  background-color: transparent;
}

.action-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(137, 68, 233, 0.5);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  max-width: 60vw;
  background-color: white;
  padding: 2vh;
  box-shadow: 0 0.5vh 1.5vw rgba(0, 0, 0, 0.3);
  z-index: 9;
  border-radius: 2vh;
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup span {
  margin: 0 auto;
}

.popup h3 {
  margin-bottom: 1.5vh;
}

.popup input[type="date"],
.popup select {
  box-sizing: border-box;
  padding: 1.2vh;
  margin-bottom: 1vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.4vh;
  width: 100%;
}

.popup button {
  width: 18vw;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: var(--accent-color-etml);
  color: white;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: var(--accent-color-cfpv);
}

.popup button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.popup h4 {
  margin-bottom: 1vh;
  font-size: var(--font-size);
  color: #333;
  text-align: left;
  text-decoration: underline;
}

.popup ul {
  list-style-type: circle;
  padding: 0;
}

.popup ul li {
  margin-bottom: 0.5em;
  margin-left: 5vw;
}

#btnAddDate {
  box-sizing: content-box;
  align-self: flex-end;
}

#btnSave {
  background-color: var(--accent-color-cfpv);
  margin-right: 2vw;
}

#btnClose {
  background-color: var(--accent-color-etml);
}

