:root {
  /* Couleurs */

  /* --bg-color-etml:var(--accent-color-etml);  */
  --bg-color-etml: #6600e300;
  --accent-color-etml: #6700E3;
  --shadow-color-etml: #6600e360;

  /* --bg-color-cfpv : var(--accent-color-cfpv); */
  --bg-color-cfpv: #de209300;
  --accent-color-cfpv: #de2092;
  --shadow-color-cfpv: #de209360;

  --font-size: 1.5em;
  --paragraph-margin: 10px;
  --element-margin: 5px;

  --element-padding: 5px;

  --height-tpi: 145px;
  --height-header: 90px;

  --grid-gap: 30px;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Pour empêcher les clics sur l'en-tête masqué */
  position: fixed; /* Assurez-vous que l'en-tête masqué reste en place */
  top: -100px; /* Déplacez l'en-tête masqué hors de l'écran */
  left: 0;
  right: 0;
}

.demo{
  position: fixed;
}

h1 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 15px;
  text-transform: capitalize;
  font-weight: bold;
  background-image: linear-gradient(to left, var(--accent-color-etml), var(--accent-color-cfpv));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* Pour s'assurer que le dégradé s'applique correctement au texte */
}

h1::before {
  content: "Version de Démonstration";
  /* Cela va forcer le contenu à apparaître sur une nouvelle ligne */
  position: absolute;
  top: 0;
  right: 40px;
  font-size: 0.7rem;
  color: white;
  background: #777;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 100;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  margin-top: 10px;
}

h4 {
  text-align: center;
  font-size: 1.7em;
  margin-top: -1.5vh;
}

p {
  margin: 0;
  padding: 0;
}

.filters {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 60px; /* Position fixe en haut de la fenêtre */
  left: 0; /* Position fixe à gauche de la fenêtre */
  
  height: 40px;
  width: 100%;
  
  background-color: white; /* Fond blanc pour l'exemple */
  margin-top: 20px;
  gap: var(--grid-gap);
}

.filters select{
  height: 30px;
  margin-right: 20px;
  text-align: center;
  border: none;
  font-size: 1.2em;
  padding: 3px;
  background-color: transparent;
}

.welcom{
  position: absolute;
  left: 30px;
  font-size: 2em;
}

.btnFilters {
  height: 30px;
  background-color: #f2f2f2; /* Couleur de fond blanc */
  border: none;
  border-radius: 5px;
  padding: 3px 8px; /* Remplissage interne */
  font-size: 1.2em; /* Taille de police */
  font-weight: bold;
  cursor: pointer; /* Curseur de la souris en forme de main */
  transition: background-color 0.3s, color 0.3s; /* Transition fluide */
}

.btnFilters.active {
  background-color: #777; /* Couleur de fond bleue */
  color: white; /* Couleur du texte blanc */
}

.btnFilters:hover {
 filter:opacity(70%);
}

/* Styles spécifiques des classes et sélecteurs */
.soutenances {
  width: 100%;
  margin-top: 120px;
  z-index: 1000;
  background-color: white;
  margin-bottom: 50px;
}

.soutenances.filterActive {
  margin-left: 65px;
}

.dataGrid {
  display: grid;
  grid-template-columns: auto auto; 
}

.horairesBox {
  display: grid;
  /*  var(--height-tpi) */
  grid-template-rows: auto;
  font-size: var(--font-size);
  margin-top: calc(var(--height-header) + var(--element-padding));
  margin-left: -60px;
  margin-right: 20px;
  background-color: white;
  width: 60px;
}

[class^="horaire_"] {
  display: flex;
  /*start - end */
  /*flex-direction: row;*/
  /*
  start
  - 
  end
  */
  flex-direction: column;
  text-align: center;

  margin-left: 2px;
  margin-top: 5px;
  gap: 5px;
}

.startTime,
.endTime {
  margin-top: var(--element-margin-top);
}

.salles-container {
  display: flex;
  flex-direction: row;

  gap: var(--grid-gap);
  
}

[class^="salle ETML"] {
  position: relative;
  /*Nécessaire pour l'identification du site */
  border: 1px solid var(--accent-color-etml);
  border-radius: 8px;
  display: grid;
  /* var(--height-tpi); */
  grid-template-rows: var(--height-header) auto;
  padding-bottom: var(--element-padding);
}

[class^="salle CFPV"] {
  position: relative;
  border: 1px solid var(--accent-color-cfpv);
  border-radius: 8px;
  display: grid;
  /* var(--height-tpi); */
  grid-template-rows: var(--height-header) auto;
  padding-bottom: var(--element-padding);
}

.ETML {
  background-color: var(--bg-color-etml);
}

.CFPV {
  background-color: var(--bg-color-cfpv);
}

.ETML [class^="header_"] {
  height: var(--height-header);
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: var(--accent-color-etml);
  color: white;
  margin: 0 auto;
}

.CFPV [class^="header_"] {
  height: var(--height-header);
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: var(--accent-color-cfpv);
  color: white;
  margin: 0 auto;
}

.truncated-text {
  display: inline;
}

.tpi-data {
  position: relative;
  margin: 5px auto;
  height: var(--height-tpi);
  vertical-align: middle;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  box-sizing: content-box;
}

.ETML .tpi-data {
  box-shadow: 0 1px 3px 0 var(--shadow-color-etml);
}

.CFPV .tpi-data {
  box-shadow: 0 1px 3px 0 var(--shadow-color-cfpv);
}

.tpi-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-left: 15px;
  /*var(--element-margin);*/
}

.ETML .tpi-data:hover {
  border: 0.1vw solid var(--accent-color-etml);
  border-radius: var(--paragraph-margin);
}

.CFPV .tpi-data:hover {
  border: 0.1vw solid var(--accent-color-cfpv);
  border-radius: var(--paragraph-margin);
}

.CFPV .tpi-data:hover {
  border: 0.1vw solid var(--accent-color-cfpv);
  border-radius: var(--paragraph-margin);
}

.tpi-entry {
  display: grid;
  grid-template-columns: 65px 195px 75px;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  font-size: 1.2em;
  z-index: 0;
}

.tpi-expert1,
.tpi-expert2,
.tpi-boss {
  line-height: 2;
  white-space: nowrap;
  /* Occuper 2 colonnes */
}

.tpi-entry.tpi-candidat {
  display: block;
  /* Soustraire la marge gauche */
  font-weight: bolder;
  line-height: 2.1;
  margin-bottom: 5px;
  white-space: nowrap;
  margin-bottom: 0;
}

.site {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #eee;
}

/* Styles pour les boutons d'actions */
.action-buttons {
  white-space: nowrap;
  /* Espacement entre les boutons */
  position: relative;
  right: 10px;
}

.action-buttons button {
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  width: 26px;
  height: 26px;
}

/* Styles pour les boutons validés */
.button-true {
  color: #00ff08;
  /* Texte vert pour bouton validé */
  font-weight: bold;
}

/* Styles pour les boutons non validés */
.button-false {
  color: #f44336;
  /* Texte rouge pour bouton non validé */
  font-weight: bold;
}

/* Styles pour les boutons de proposition avec des valeurs */
.button-has-values {
  color: #007bff;
  /* Texte bleu pour bouton avec valeurs */
}

/* Styles pour les boutons de proposition vides */
.button-empty {
  color: #888;
  /* Texte gris pour bouton vide */
}

/* Styles pour les boutons d'acceptation OK */
.button-accept-ok {
  color: #4caf50;

  /* Texte vert pour bouton OK */
}

/* Styles pour les boutons d'acceptation X */
.button-accept-x {
  color: #f44336;
  /* Texte rouge pour bouton X */
}

/* Styles pour les boutons de proposition avec valeurs '-' */
.button-proposition-values {
  color: #007bff;
  /* Texte bleu pour bouton proposition avec valeurs */
}

/* Styles pour les boutons de proposition avec valeurs '?' */
.button-proposition-emoji {
  font-size: 20px;
  /* Taille de police pour l'emoji */
}

.action-buttons button:hover {
  opacity: 0.8;
  background-color: transparent;
}

.action-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 4, 234, 0.5);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  max-width: 60vw;
  background-color: white;
  padding: 2vh;
  box-shadow: 0 0.5vh 1.5vw rgba(0, 0, 0, 0.3);
  z-index: 9;
  border-radius: 2vh;
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup span {
  margin: 0 auto;
}

.popup h3 {
  margin-bottom: 1.5vh;
}

.popup input[type="date"],
.popup select {
  box-sizing: border-box;
  padding: 1.2vh;
  margin-bottom: 1vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.4vh;
  width: 100%;
}

.popup button {
  width: 18vw;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: var(--accent-color-etml);
  color: white;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: var(--accent-color-cfpv);
}

.popup button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.popup h4 {
  margin-bottom: 1vh;
  font-size: var(--font-size);
  color: #333;
  text-align: left;
  text-decoration: underline;
}

.popup ul {
  list-style-type: circle;
  padding: 0;
}

.popup ul li {
  margin-bottom: 0.5em;
  margin-left: 5vw;
}

#btnAddDate {
  box-sizing: content-box;
  align-self: flex-end;
}

#btnSave {
  background-color: var(--accent-color-cfpv);
  margin-right: 2vw;
}

#btnClose {
  background-color: var(--accent-color-etml);
}


.ETML .time-label {
  font-size: 0.8rem;
  position: absolute;
  top: 8px;
  right: 6px;
  font-weight: 600;
  background-color: var(--shadow-color-etml);
  /* Légère transparence pour la lisibilité */
  padding: 4px;
  border-radius: 5px;
}

.CFPV .time-label {
  font-size: 0.8rem;
  position: absolute;
  top: 8px;
  right: 6px;
  font-weight: 600;
  background-color: var(--shadow-color-cfpv);
  /* Légère transparence pour la lisibilité */
  padding: 4px;
  border-radius: 5px;
}

.header-row {
  display: none;
}

.no-filter {
  display: none;
}

.gris {
  color: #969595;
  /* Couleur du texte grisé */
  background-color: #e5e3e528;
  /* Couleur de fond grisé */
  pointer-events: none;
  /* Désactiver les événements de pointer */
  opacity: 0.6;
  /* Opacité pour donner un effet de gris */
}

.stabilo {
  position: relative;
}

[class^="salle CFPV"] .stabilo::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  background-color: var(--shadow-color-cfpv);
  z-index: -1;
  border-radius: 5px;
}

[class^="salle ETML"] .stabilo::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  background-color: var(--shadow-color-etml);
  z-index: -1;
  border-radius: 5px;
}

/*  #region PRINT  Styles appliqués uniquement lors de l'impression */
@media print {

  @page {
    size: A4 portrait;
    /* Force le mode portrait pour l'impression */
    margin: 20mm;
    /* Définit les marges de la page imprimée */
  }

  body {
    width: 100%;
    /* Assure que le corps prend toute la largeur de la page */
    margin: 0 auto;
    /* Centre le contenu horizontalement */
    max-width: 210mm;
    /* Largeur maximale du contenu pour s'adapter à la largeur de la page A4 */
    box-sizing: border-box;
    /* Assure que la largeur inclut le padding et la bordure */

    color: black;
  }

  h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
    color: var(--accent-color-etml);
  }

  h3 {
    font-size: 18pt;
    margin-top: 8px;
    height: 1.1;
  }

  h4 {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 25px;
  }

  /* Crée une ligne d'en-tête pour le tableau */
  .header-row {
    position: relative;
    /* Positionnement absolu par rapport à son parent */
    width: 100%;
    /* Prend la pleine largeur de l'élément parent */
    display: flex;
    /* Affiche comme un tableau pour aligner les cellules d'en-tête */
    margin-top: -20px;
  }

  .header-cell {
    display: inline;
    font-weight: bold;
    /* Met le texte en gras */
    text-align: center;
    /* Centre le texte */
    width: 175px;
  }

  .horairesBox,
  .action-buttons,
  .filters,
  h1::before {
    display: none;
    /* Cache les éléments non nécessaires à l'impression */
  }



  [class^="salle"] {
    display: table;
    /* Chaque salle est transformée en tableau */
    width: auto;
    /* Utilise la pleine largeur */
    margin-bottom: 10mm;
    /* Espacement entre les salles */
    break-inside: avoid;
    /* Évite les coupures de salle entre les pages */
    page-break-inside: avoid;
    /* Alternative pour les navigateurs plus anciens */
    border: none;
  }

  [class^="header_"] {
    display: table-header-group;
    /* L'en-tête devient l'en-tête du tableau */
    position: relative;
    /* Positionnement relatif pour l'élément parent */
    font-weight: bold;
    /* Met le texte en gras */
    text-align: center;
    /* Centre le texte */
  }

  .tpi-container {
    display: table-row;
    /* Chaque conteneur de TPI est une ligne de tableau */
    height: auto;
    /* Hauteur ajustée automatiquement */
  }

  .tpi-entry {
    display: table-cell;
    /* Chaque entrée est une cellule de tableau */
    vertical-align: middle;
    /* Alignement vertical du contenu */
    padding: 5px;
    /* Espace autour du contenu */
    height: 40px;
    /* Empêche le texte de passer à la ligne */
    overflow: hidden;
    /* Cache le débordement de contenu */
    text-overflow: ellipsis;
    /* Ajoute des points de suspension si débordement */
    text-align: left;
    /* Alignement du texte à gauche */
    max-width: 174px;
    width: 175px;
    /* Largeur ajustée automatiquement */
    line-height: 1.1;
    /* Ajustez selon les besoins */
    border: none;
    font-size: 10pt;
  }

  .no-filter {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
  }

  .site {
    display: block;
    z-index: 100;
    font-weight: 700;
  }

  .tpi-expert1,
  .tpi-expert2,
  .tpi-boss {
    font-size: 0;
    /* Cache le texte en réduisant la taille de la police à 0 */
  }

  .tpi-expert1 span,
  .tpi-expert2 span,
  .tpi-boss span {
    font-size: 1rem;
    /* Rétablit la taille normale pour le texte visible */
  }

  .ETML .tpi-data {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .CFPV .tpi-data {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .tpi-data:not(:last-child) {
    border-bottom: 1px solid #ccc;
    /* Bordure en bas pour séparer les lignes */
  }

  .tpi-data:nth-child(odd) {
    background-color: #f2f2f2;
    /* Couleur de fond pour les lignes impaires */
  }

  /* Pour aligner les noms des candidats */
  .tpi-entry.no-buttons span.nameTpi {
    padding: 5px 0;
    /* Ajoute de l'espace au-dessus et en dessous du nom */
  }

}

/* #endregion */