/* Centrer le formulaire */
.container {
  width: 96%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

li .containerForm {
  display: flex;
  position: absolute;
  background-color: white;
  z-index: 999;
}

form {
  display: grid;
  position: relative;
  gap: 5px;
  width: 100%;
  min-width: 400px;
  max-width: 700px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Alignement des étiquettes et des champs de saisie */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  min-width: 150px;
  margin-right: 10px;
  font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="number"],
.form-row textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-row input[type="text"]:hover,
.form-row input[type="date"]:hover,
.form-row input[type="number"]:hover,
.form-row textarea:hover {
  border-color: #999;
}

/* Groupes de champs */
.gpSujetTpi,
.grExterne,
.gpDates {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.gpRef {
  grid-column: 2;
  grid-row: span 2;
}

.gpPerson,
.gpSujetTpi {
  grid-column: 1;
}

.grExterne {
  grid-column: 2;
}

.gpDates {
  grid-column: span 2;
}

.save {
  gap: 10px;
  justify-content: end;
  grid-column: 2;

}

.save button {
  background-color: red;
  color: aliceblue;
  width: 100px;
  height: 30px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save button:hover {
  background-color: #c70000;
}

#btConcel {
  background-color: darkgreen;
  margin-right: 0px;
}

/* Style pour la liste des TPI */
ul.tpiList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  /* Adapter le nombre de colonnes à l'écran */
  gap: 20px;
  /* Espacement entre les éléments de la liste */
  padding: 2px;
  /* Espace autour de la liste */
  list-style-type: none;
  /* Masquer les puces de la liste */
}

/* Style pour chaque élément de la liste des TPI */
ul.tpiList li {
  position: relative;
  width: 97%;
  height: 97%;
  padding: 6px;
  /* Espacement interne pour chaque élément */
  border: 2px solid #f2f2f2;
  /* Bordure autour de chaque élément */
  border-radius: 5px;
  /* Coins arrondis pour chaque élément */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre autour de chaque élément */
  background-color: #fff;
}

/* Style pour le texte dans chaque élément de la liste des TPI */
ul.tpiList li span {
  display: block;
  /* Afficher le texte en tant que bloc pour une nouvelle ligne */
  margin-bottom: 5px;
  /* Marge en bas du texte */
  color: #333;
  /* Couleur du texte */
}

/* Style pour afficher un message lorsque la liste des TPI est vide */
ul.tpiList:empty::before {
  content: "Aucun TPI trouvé.";
  /* Texte du message */
  display: block;
  /* Afficher le message en tant que bloc pour une nouvelle ligne */
  padding: 10px;
  /* Espacement interne pour le message */
  border: 1px solid #f2f2f2;
  /* Bordure autour du message */
  border-radius: 5px;
  /* Coins arrondis pour le message */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre autour du message */
  background-color: #fff;
  /* Couleur de fond pour le message */
  margin-bottom: 10px;
  /* Marge en bas du message */
  color: #666;
  /* Couleur du texte du message */
}

/* Style pour le bouton Modifier */
ul.tpiList li .btEdit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  background-color: #3593e4;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}
/* Container pour les tags affichés et cachés */
/* CSS pour les tags */
.displayTagsContainer {
  position: relative;
}

.displayTags {
  background-color: #1e82ff;
  color: #fff;
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.hiddenTags {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ccc;
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.6s ease;
}

.hoveredTag {
  display: none;
  position: absolute;
  top: -30px;
  right: 0;
  background-color: #1e82ff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}
/* Afficher les tags supplémentaires au survol */
.displayTagsContainer:hover .hiddenTags {
  display: inline-block;
  transform: scale(1.2); /* Zoom au survol */
}

/* Animation de fondu */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}