.debug {
  display: none;
  color: #130559;
  text-align: center;

}

/* Styles pour ETML et CFPV */
:root {
  --room-padding-top: 0;
  --MinSizeWidth: 260px;
  --MaxSizeWidth: 340px;
}

/* Styles généraux pour les sites ETML et CFPV */
.site_etml,
.site_cfpv {
  /* DateRoom */
  --dateRoom-textColor: #ffffff;
  --dateRoom-bgColor: #252525;

  --breakLine-TextColor: #333;
  --breakLine-bgColor: #e7e2d8; /* Gris clair */

  --deleteButton-textColor: #252525;
  --deleteButton-bgColor:  #66bb6a;
  /* Vert par défaut */

  /* TPI Styles */
  --tpi-timeSlot-textColor: #252525;
  /* Noir */
  --tpi-timeSlot-bgColor: #ffffff;
  /* Blanc */

  --tpi-card-textColor: var(--site-textColor, #ffffff);
  transition: background-color 0.3s ease-in-out;
}

/* Styles spécifiques pour le site ETML avec des couleurs terreuses */
.site_etml {
  --tpi-card-candidat-bgColor: #130559;
  /* Violet terreux par défaut */
  --tpi-card-experts-bgColor: #2196f3;
  /* Bleu clair par défaut */
  --tpi-card-boss-bgColor: #1a4961;
  /* Bleu foncé par défaut */
}

/* Styles spécifiques pour le site CFPV avec des couleurs terreuses */
.site_cfpv {
  --tpi-card-candidat-bgColor: #D2B48C;
  /* Beige par défaut */
  --tpi-card-experts-bgColor: #A0522D;
  /* Brun clair par défaut */
  --tpi-card-boss-bgColor: #C68642;
  /* Brun foncé par défaut */
}


/* Styles généraux pour la date room */
#root {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.room {
  padding-top: var(--room-padding-top);
  flex: 1 0 200px;
  transition: flex-basis 0.3s ease;
  line-height: 1em;
  margin-left: 15px;
  min-width: 200px;
  max-width: 300px;
}

/* Styles pour la classe .date-room */
.date-room {
  text-align: center;
  background-color: var(--dateRoom-bgColor);
  color: var(--dateRoom-textColor);
  border: 5px solid var(--dateRoom-bgColor);
  transition: border-color 0.3s ease;
  /* Ajoute une transition pour une animation fluide */
}

/* Styles pour le survol de .date-room */
.date-room:hover {
  border-color: #2196f3;
  /* Bordure bleue au survol */
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
  /* Ombre bleue au survol */
}

.date {
  font-size: larger;
  font-weight: bold;
  line-height: 1.8em;
  color: var(--dateRoom-textColor);
}

.nameRoom {
  font-size: larger;
  line-height: 1.8em;
  color: var(--dateRoom-textColor);
}

/* Styles pour la ligne de séparation */
.breakLine {
  color: var(--breakLine-TextColor);
  border-block: 2px solid var(--breakLine-TextColor);
  background-color: var(--breakLine-bgColor);
  height: 20px;
}

.breakLine p {
  margin: 1%;
}

/* Styles pour le bouton de suppression */
.delete-button {
  color: var(--deleteButton-textColor);
  background-color: var(--deleteButton-bgColor);
}

/* Styles généraux pour le TPISlot */
.tpiSlot {
  color: var(--tpi-timeSlot-textColor);
  background-color: var(--tpi-timeSlot-bgColor);
  display: grid;
  grid-template-columns: 25% auto;
  margin: 0 auto;
  padding: 1px;
  animation: slide-in 0.5s ease-in-out;
}

.timeSlot {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: left;
  display: grid;
  grid-template-rows: 50% auto;
  gap: 10px;
  border-right: 2px solid var(--tpi-timeSlot-textColor);
  margin-left: 9px;
}

.top {
  align-self: flex-start;
  margin-top: 6px;
}

.bottom {
  align-self: flex-end;
  margin-bottom: 6px;
}

/* Styles pour les champs éditables */
.edit {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  /* Bordure autour du champ éditable */
  border-radius: 4px;
  font-size: 16px;
}

/* Styles pour l'icône d'édition */
.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #2196f3;
  /* Couleur de l'icône d'édition (bleu) */
}

/* Styles pour la carte TpiCard */
.tpiCard {
  color: white;
  text-align: left;
  font-size: 16px;
  font-family: Arial, sans-serif;
  min-width: 180px;
  max-width: 260px;
  display: grid;
  gap: 3px;
  padding: 4px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles pour le fond du candidat */
.tpiCard .candidat {
  text-align: center;
  font-weight: bolder;
  background-color: var(--tpi-card-candidat-bgColor);
  border-bottom: 2px solid var(--tpi-card-textColor);
  padding: 5px;
}

.candidat .star-icon {
  margin-right: 6px;
  font-size: 15px;
  color: #ff9800;
}

/* Styles pour le fond des experts */
.tpiCard .expert {
  background-color: var(--tpi-card-experts-bgColor);
  padding: 5px;
}

/* Styles pour le fond du chef de projet */
.tpiCard .boss {
  background-color: var(--tpi-card-boss-bgColor);
  /* Ajout de la couleur de fond */
  border-top: 2px solid var(--tpi-card-textColor);
  padding: 5px;
}

.boss .boss-icon {
  margin-right: 6px;
  /* Marge à droite de l'icône */
  font-size: 15px;
  color: #e6d2ea;
  /* Couleur de l'icône de boss (violet) */
}

/************************
*****Button delete   ****
*************************/

/* Styles pour le bouton de suppression dans le mode édition */
.buttonDelete {
  background-color: burlywood;
  padding: 6px 10px;
  text-align: right;
}

.buttonDelete button {
  border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonDelete button:hover {
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonDelete:hover::after {
  content: "Attention: Tout sera supprimé !";
  position: relative;
  display:block;
  text-align: center;
  top:-80px;
  left: 200px;
  width: 200px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.buttonDelete:not(:hover)::after {
  opacity: 0;
}

/* Ajoutez une brève description des améliorations apportées aux styles du bouton de suppression en mode édition. */

/*******************************
*  design pour le mode edition *
********************************/

/* Styles pour le mode édition */
.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.edit:focus {
  background-color: #fff;
  border-color: #2196f3;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.3);
  outline: none;
  transform: scale(1.1);
}

/* Style when an element is being dragged */
.dragging {
  opacity: 0.5;
  border: 3px dashed #eb3c3c;
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease, border 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

/* Style when an element is being dragged over */
.dragOver {
  background-color: #f0f0f0;
  border: 5px solid #77eb88;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}

