#header {
  z-index: 999;
  display: grid;
  grid-template-rows: auto auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
}

#title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* simplifié */
  background-color: #f2f2f2;
  color: #333;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}

#left, #center, #right {
  text-align: center; /* centré par défaut */
}

#left { text-align: left; }
#right { text-align: right; }

#center {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: coolColor 10s infinite;
}

/* Conserver ou non en fonction de l'expérience utilisateur souhaitée */
@keyframes coolColor {
  /* tes animations */
}

.etml { font-family: "ETML L"; color: blue; }

#tools {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  top: calc(var(--room-padding-top) - 32px);
  background-color: #f2f2f2;
  padding: 5px;
  width: 100%;
  text-align: center;
}

#tools button, #btLoadFile {
  color: white;
  font-size: medium;
  width: 150px;
  height: 25px;
  background-color: #333;
  border: none;
  border-radius: 3%;
  margin: 10px 10px 0 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#tools button:hover, #btLoadFile:hover {
  background-color: #2196f3; /* Bleu vif au survol */
  color: #fff;
}

#upArrowButton, #downArrowButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #888;
  cursor: pointer;
  padding: 0;
  transition: opacity 1s, transform 1s;
}

#upArrowButton::before { content: "▲"; }
#downArrowButton::before { content: "▼"; }

#upArrowButton.active, #downArrowButton.active {
  opacity: 1;
  transform: translateY(0);
}
