/* Home.css */

/* Style du titre */
.home {
  width: 90%;
  margin: 0 auto;
}

.home-title {
  text-align: center;
  margin-top: var(--room-padding-top);
  font-size: 28px;
  color: #545252;
}

/* Style du paragraphe de description */
.home-description {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #666;
}

/* Conteneur des boutons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* Style des boutons personnalisés */
.custom-button {
  text-align: center;
  padding: 12px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* Style pour rendre les boutons en ligne sur les petits écrans */
@media screen and (max-width: 480px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Appliquer les couleurs aux boutons */
.custom-button:nth-child(8n + 1) {
  background-color: #007bff;
}

.custom-button:nth-child(8n + 2) {
  background-color: #28a745;
}

.custom-button:nth-child(8n + 3) {
  background-color: #ffc107;
}

.custom-button:nth-child(8n + 4) {
  background-color: #dc3545;
}

.custom-button:nth-child(8n + 5) {
  background-color: #6610f2;
}

.custom-button:nth-child(8n + 6) {
  background-color: #fd7e14;
}

.custom-button:nth-child(8n + 7) {
  background-color: #17a2b8;
}

.custom-button:nth-child(8n + 8) {
  background-color: #6f42c1;
}

/* Sytle pour les popup de type message */
.notification {
  /* style de base pour toutes les notifications */
  position: fixed;
  bottom: 20px;
  left: 50%; /* centrer horizontalement */
  transform: translateX(-50%); /* ajuster pour un centrage précis */
  min-width: 200px; /* largeur minimale */
  max-width: 80%; /* largeur maximale */
  padding: 10px;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center; /* aligner le texte au centre */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* ombre légère pour un effet de profondeur */
  z-index: 1000; /* s'assurer qu'elle est au-dessus des autres éléments */
}

.notification.show {
  opacity: 1;
}

.notification.info {
  background-color: blue;
}

.notification.success {
  background-color: green;
}

.notification.error {
  background-color: red;
}
