/* --------------- Région : Configuration générale --------------- */

/*Cartouche */

#searchCandidat {
  border: none;
  padding: 4px;
  background-color: #fdfcfc;
  font-weight: bold;
}

#searchCandidat:hover {
  background-color: #fbebeb;
}

#refPage input {
  display: inline;
  width: 120px;
  margin: 0 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px outset #333; /* Couleur et style de la ligne en bas */
  outline: none; /* Pour supprimer la bordure par défaut du navigateur */
}

/* Styles généraux pour les tables */

/*C'est la div qui contient la table*/
.tQuestions {
  padding: 20px;
}

table {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #333;
}

/* Styles généraux pour les cellules */
th,
td {
  padding: 8px;
  /* Espacement interne */
  border: 1px solid #dddddd;
  /* Bordure */
}

td input,
td textarea {
  margin: 0 auto;
  width: 100%;
}

/* Styles pour les en-têtes de tableau */
th {
  text-align: center;
  /* Alignement du texte */
  background-color: #f2f2f2;
  /* Couleur de fond */
  font-size: 14px;
  /* Taille de la police */
}

/* Styles pour les lignes de données */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Couleur de fond des lignes paires */
}

/* Styles spécifiques pour la table "viewPoints" */
#viewPoints {
  text-align: center;
  margin: 20px auto;
}

/* Styles pour les cellules de l'en-tête de la table "viewPoints" */
#viewPoints th {
  background-color: #f2f2f2;
  /* Couleur de fond */
  font-size: 14px;
  /* Taille de la police */
}

/* Styles pour le texte aligné à gauche dans les cellules */
td:not(#viewPoints td) {
  text-align: left;
}

/* --------------- Région : Styles spécifiques --------------- */

.remaque {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  justify-content: center;
}

.remaque textarea {
  background-color: #daedfcb0;
  margin-bottom: 20px;
}

/* Styles spécifiques pour les inputs questions */
[id^='input_A'],
[id^='input_C'] {
  width: 90%;
  margin: 5px 0 auto;
}

input[type='tel'],
input[type='email'],
input[type='text'],
input[type='number'],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}

input[id^='input'][id$='_0'] {
  /* Styles pour les éléments <input> avec ID commençant par 'input' et se terminant par '_0' */
  width: calc(100% - 53px);
}

input[type='number'] {
  text-align: center;
}

input[type='number']:invalid {
  border-color: red;
}

input[type='number']:invalid::after {
  content: 'Veuillez entrer une valeur entre 0 et 3';
  display: block;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

textarea:focus,
input[type='number']:focus {
  border-color: #007bff;
  /* Couleur de la bordure lorsqu'il est en focus */
}

/* --------------- Région : Styles pour la mise en page --------------- */

/* Styles pour les colonnes avec différentes longueurs */
.col-1 {
  width: 30px;
  /* Longueur pour contenir "A20" */
}

.col-2 {
  width: 45%;
  /* Longueur dynamique */
}

.btn_question {
  width: 56px;
  display: inline-flex;
  position: absolute;
  transform: translateY(7px);
}

.btn_questionMinus,
.btn_questionAdd {
  border: none;
  margin-left: 3px;
  padding: 4px;
  width: 25px;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.btn_Selected {
  white-space: nowrap;
  background-color: #cba99b; /* Couleur de fond plus claire */
  margin-right: 4px;
  padding: 4px; /* Augmentation de la taille du rembourrage */
  width: 25px; /* Ajustement de la largeur */
  font-weight: bold;
  color: white;
  font-size: 14px; /* Légère augmentation de la taille de la police */
  border: none;
  border-radius: 4px; /* Ajout de coins arrondis */
  text-align: center; /* Centrage du texte horizontalement */
}

.btn_questionAdd {
  background-color: #16e42eed;
}

.btn_questionMinus {
  background-color: #ed2125ed;
}

.btn_questionMinus:hover,
.btn_questionAdd:hover,
.btn_Selected:hover {
  filter: brightness(120%);
}

.col-3 {
  width: 60px;
  /* Longueur pour contenir un nombre de 0 à 3 */
}

.col-4 {
  width: auto;
  /* Longueur dynamique */
}

/* Styles pour masquer le contenu visuellement */
.hidden {
  display: none;
}

.disabled {
  background-color: #ccc;
  display: none;
}

/* Styles pour l'en-tête de page */
.headerPage {
  text-align: right;
  margin-right: 20px;
}

/* Styles pour le conteneur de l'en-tête */
.identityHeader {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 15px auto;
  border: 1px solid black;
}

/* Styles pour les champs de l'en-tête */
.headerField {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  margin: 3px;
  background-color: #efeded2a; /* Gris clair */
  border: 2px solid #98fb9857; /* Vert pâle */
}

.headerField input {
  width: calc(100% - 20px);
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

/* --------------- Région : Styles généraux --------------- */

/* Styles généraux pour le corps */

.btn_validation {
  display: flex;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.btn_validation button {
  font-size: 14px;
  padding: 5px 10px;
  color: white;
  background-color: #2982cf;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.btn_validation button:hover {
  filter: brightness(120%);
}

#newEvalForm {
  margin-bottom: 45px;
}

[id^='inputsAdd_'] {
  width: calc(100% - 40px);
  white-space: nowrap;
}

.input_questionAdd {
  background-color: #45a5f914;
}

#remarque {
  width: 90vw;
  max-width: 1100px;
}

.critere-id {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Ombre portée */
  padding: 20px;
  z-index: 9999;
}

#popup-content {
  text-align: left; /* Alignement du texte à gauche */
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888; /* Couleur du bouton de fermeture */
  font-size: 18px; /* Taille de la police du bouton de fermeture */
}
